@{ ViewData["Title"] = "Secure Page"; }

<h2>@ViewData["Title"]</h2>

<div class="Container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <button class="btn btn-default" asp-action="CallApiUsingUserAccessToken" asp-controller="Secure">Call API using user token</button>
                <button class="btn btn-primary" asp-action="CallApiUsingClientCredentials" asp-controller="Secure">Call API using application identity</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in User.Claims) {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>